.card{
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}

.pick-class-label{
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 15px 23px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}


/*      Here the code for the wizard           */

label{
    font-weight: 400;
}

.image-container{
    height: 100vh;
    background-position: center center;
    background-size: cover;
}


.wizard-container{

    padding-top: 100px;
    z-index: 3;
}
.wizard-card{
    min-height: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;

    .picture-container{
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .picture{
        width: 106px;
        height: 106px;
        background-color: #999999;
        border: 4px solid #CCCCCC;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 5px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;

        &:hover{
            border-color: #2ca8ff;
        }
    }

    &[data-background-color="purple"]{
        .picture{
            &:hover{
                border-color: $brand-primary;
            }
        }
    }

    &[data-background-color="green"]{
        .picture{
            &:hover{
                border-color: $brand-success;
            }
        }
    }

    &[data-background-color="blue"]{
        .picture{
            &:hover{
                border-color: $brand-info;
            }
        }
    }

    &[data-background-color="orange"]{
        .picture{
            &:hover{
                border-color: $brand-warning;
            }
        }
    }

    &[data-background-color="red"]{
        .picture{
            &:hover{
                border-color: $brand-danger;
            }
        }
    }

    &[data-background-color="rose"]{
        .picture{
            &:hover{
                border-color: $brand-rose;
            }
        }
    }


    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .picture-src{
        width: 100%;
    }

    .tab-content{
        min-height: 340px;
        padding: 20px 10px;
    }

    .wizard-footer{
        padding: 0 10px;
    }

    .disabled{
        display: none;
    }

    .wizard-header h3{
        font-weight: 200;
        text-align: center;
    }

    .nav-pills > li{
        text-align: center;
    }

    .nav-pills > li a {
        border: 0 !important;
        text-transform: uppercase;
        background-color: #999999;
        color: #FFFFFF !important;
        font-size: 12px;
    }

    &[data-background-color="green"]{
        .nav-pills > li.active a{
            background-color: #05ae0e;
        }

        .choice{
            &:hover,
            &.active{
                .icon{
                    border-color: #05ae0e;
                }
            }
        }
    }

    &[data-background-color="azzure"]{
        .nav-pills > li.active a{
            background-color: #2CA8FF;
        }

        .choice{
            &:hover,
            &.active{
                .icon{
                    border-color: #2CA8FF;
                }
            }
        }
    }

    &[data-background-color="blue"]{
        .nav-pills > li.active a{
            background-color: #3472f7;
        }

        .choice{
            &:hover,
            &.active{
                .icon{
                    border-color: #3472f7;
                }
            }
        }
    }

    &[data-background-color="orange"]{
        .nav-pills > li.active a{
            background-color: #ff9500;
        }

        .choice{
            &:hover,
            &.active{
                .icon{
                    border-color: #ff9500;
                }
            }
        }
    }

    &[data-background-color="red"]{
        .nav-pills > li.active a{
            background-color: #ff3b30;
        }

        .choice{
            &:hover,
            &.active{
                .icon{
                    border-color: #ff3b30;
                }
            }
        }
    }

    .nav-pills > li > a{
        &:focus,
        &:hover{
            background-color: #999999;
            cursor: default;
        }
    }

    .btn{
        text-transform: uppercase;
    }

    .nav-pills > li:first-child > a {
        border-radius: 0;
        margin: 0;
    }

    .nav-pills > li:last-child > a{
        border-radius: 0;
    }

    .info-text{
        text-align: center;
        font-weight: 300;
        margin: 10px 0 30px;
    }

    .choice{
        text-align: center;
        cursor: pointer;
        margin-top: 20px;

        .icon{
            text-align: center;
            vertical-align: middle;
            height: 116px;
            width: 116px;
            border-radius: 50%;
            background-color: #999999;
            color: #FFFFFF;
            margin: 0 auto 20px;
            border: 4px solid #CCCCCC;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }

        i{
            font-size: 30px;
            line-height: 111px;
        }

        &:hover,
        &.active{
            .icon{
                border-color: #2ca8ff;
            }
        }

        input[type="radio"],
        input[type="checkbox"]{
            position: absolute;
            left: -10000px;
            z-index: -1;
        }
    }

    .btn-finish{
        display: none;
    }

    .description{
        color: #999999;
        font-size: 14px;
    }
}
