/*     General overwrite     */
a{
    color: #2CA8FF;
}
a:hover, a:focus {
    color: #109CFF;
}
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,
input[type="button"]:focus {
    outline: 0 !important;
}

.btn:focus,
.btn:hover,
.btn:active{
    outline: 0;
}

/*           Animations              */
.form-control, .input-group-addon{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
